@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* min-width: 960px; */
}

.filepond--root .filepond--panel-root {
  @apply bg-white;
}

.toastui-editor-defaultUI {
  border: none !important;
  border-radius: 0px !important;
}
.toastui-editor-defaultUI-toolbar {
  @apply bg-slate-100 !important;
  padding: 0 5px !important;
}
.toastui-editor-contents {
  padding: 20px !important;
}
.filepond--root {
  @apply bg-white border border-slate-300 rounded-lg overflow-hidden;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease 0.25s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
