<script>
import SlackAuthButton from '@/components/SlackAuthButton.vue';

export default {
  components: { SlackAuthButton },
};
</script>

<template>
  <div class="flex min-h-screen items-center justify-center bg-slate-900">
    <main class="bg-white max-w-sm rounded-lg overflow-hidden text-center">
      <div class="bg-slate-100 px-6 py-4">
        <h1 class="text-lg font-bold">Global Classroom</h1>
      </div>
      <div class="p-6 space-y-4">
        <h2>
          Please <span class="font-bold">sign in</span> to the dashboard via
          <span class="font-bold">Slack</span> using the button below.
        </h2>
        <SlackAuthButton />
      </div>
    </main>
  </div>
</template>
