<template>
  <div>
    <div class="p-4">
      <!-- <h1 class="text-base font-semibold mb-2 text-black">Pick an activity</h1> -->
      <div class="grid gap-2 grid-cols-2">
        <div
          v-for="(value, key) in contentTypes"
          @click="setActivity(key)"
          class="flex justify-start items-center space-x-2 bg-white rounded-lg p-2 hover:cursor-pointer border border-transparent hover:border-slate-200"
        >
          <img :src="contentTypeImage(key)" alt="" class="h-8 w-8" />
          <div>
            <h1 class="text-md font-semibold">{{ contentTypes[key].title }}</h1>
            <!-- <h2>{{ contentTypes[key].subtitle }}</h2> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Footer start -->
    <div class="flex justify-between space-x-3 bg-slate-200 rounded-b-xl p-4">
      <!-- Close button start -->
      <Button @click="setActivity(undefined)" bgClass="bg-red-500" bgHoverClass="hover:bg-red-600">
        <span>Cancel</span>
        <!-- <i class="fas fa-times"></i> -->
      </Button>
      <!-- Close button end -->
    </div>
    <!-- Footer end -->
  </div>
</template>

<script>
import contentTypesYAML from '@/content/content-types.yaml';

export default {
  emits: ['update:modelValue'],
  props: {
    modelValue: {
      type: String,
    },
  },
  computed: {
    contentTypes() {
      let result = {};
      const availableTypes = contentTypesYAML;
      for (const key of Object.keys(availableTypes)) {
        if (contentTypesYAML[key].type == 'activity') {
          result[key] = contentTypesYAML[key];
        }
      }

      return result;
    },
  },
  methods: {
    setActivity(activity) {
      this.$emit('update:modelValue', activity);
    },
    contentTypeImage(key) {
      const meta = contentTypesYAML[key];

      const { icon, leftColor, rightColor } = meta;

      const url = `${import.meta.env.VITE_MEDIA_BASE_URL}icon?leftColor=${leftColor}&rightColor=${rightColor}&icon=${icon}&identifier=icon-${key}`;
      
      return url;
    },
  },
};
</script>
