<template>
  <div>
    <div class="flex space-x-4 pt-0 border-b border-b-slate-300">
      <div
        class="flex-grow text-left py-4 px-6 cursor-pointer space-x-2"
        :class="'font-semibold text-slate-600'"
      >
        <i class="fas fa-pen-to-square"></i>
        <span>Drafts</span>
      </div>
    </div>
    <div class="p-6">
      <!-- Items start -->
      <div class="space-y-3 pb-6">
        <Warning v-if="!items || items.length == 0" text="There are no unscheduled items." />

        <!-- Item start -->
        <ScheduleItemTile
          v-for="item of items"
          :key="item._id"
          :item="item"
          v-on:refresh="
            this.emitter.emit('refresh-schedule');
            loadItems();
          "
        />
        <!-- Item end -->
      </div>

      <!-- Items end -->
    </div>
  </div>
</template>

<script>
import API from '@/api';

import ScheduleItemTile from '@/components/ScheduleItemTile.vue';

export default {
  components: {
    ScheduleItemTile,
  },
  data() {
    return {
      items: [],
    };
  },
  mounted() {
    this.loadItems();

    this.emitter.on('refresh-schedule', this.loadItems);
  },
  methods: {
    loadItems() {
      API.schedule.getDraftItems(
        (response) => {
          console.log(response);
          this.items = response;
        },
        (response) => {
          console.error('Error', response);
        },
      );
    },
  },
};
</script>
