<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: false,
    },
    backToTitle: {
      type: String,
      required: false,
    },
    backToUrl: {
      type: String,
      required: false,
    },
  },
  data: function() {
    return {
      SLACK_WORKSPACE_ID: import.meta.env.VITE_SLACK_WORKSPACE_ID
    }
  },
};
</script>

<template>
  <header
    class="bg-slate-800 h-16 flex items-center justify-start fixed inset-0 bottom-auto left-16 pr-3"
  >
    <h1 class="font-semibold text-xl text-white px-4">{{ title }}</h1>
    <div v-if="label" class="bg-blue-500 text-white text-sm px-3 py-1 rounded-full font-bold">
      {{ label }}
    </div>
    <div class="flex-grow"></div>

    <a :href="`https://app.slack.com/client/${this.SLACK_WORKSPACE_ID}`" target="_blank" rel="noopener noreferrer">
        <Button
          bgClass="bg-white bg-opacity-10"
          bgHoverClass="hover:bg-white hover:bg-opacity-20"
        >
          <i class="fa-brands fa-slack"> </i>
          <span class="whitespace-nowrap">Launch Slack</span>
        </Button>
      </a>
  </header>
</template>
