<template>
  <Transition name="fade" appear>
    <div v-show="!removing" class="border bg-white border-slate-200 rounded-lg">
      <div class="">
        <!-- Header start -->
        <div class="flex items-center space-x-2 p-3 pb-0">
          <img :src="`${MEDIA_BASE_URL}app/icon`" alt="" class="h-8 w-8 overflow-hidden" />
          <div class="">
            <h1 class="text-sm font-semibold text-slate-500">Global Classroom</h1>
          </div>
          <div class="flex-grow"></div>
          <!-- Type start -->
          <div
            v-if="item.type == 'automated'"
            class="px-2 py-1 flex items-center space-x-2 bg-slate-100 text-slate-500 rounded text-xs"
          >
            <i class="fas fa-wrench"></i>
            <span>Automated</span>
          </div>

          <div
            v-if="item.type == 'activity'"
            class="px-2 py-1 flex items-center space-x-2 bg-slate-100 text-slate-500 rounded text-xs"
          >
            <i class="fas fa-hand-pointer"></i>
            <span>Activity</span>
          </div>

          <div
            v-if="item.type == 'content'"
            class="px-2 py-1 flex items-center space-x-2 bg-slate-100 text-slate-500 rounded text-xs"
          >
            <i class="fas fa-align-left"></i>
            <span>Content</span>
          </div>

          <!-- Type end -->
          <Button
            @click="removeContent"
            size="sm"
            bgClass="bg-orange-100"
            textClass="text-orange-500"
            bgHoverClass="hover:bg-orange-500"
            textHoverClass="hover:text-white"
          >
            <i class="fas fa-trash"></i>
          </Button>
        </div>
        <!-- Header end -->

        <!-- <pre>{{ item }}</pre> -->

        <div class="p-3">
          <!-- Images start -->
          <div
            v-if="item.images && item.images.length > 0"
            class="flex flex-wrap flex-row gap-2 mb-2"
          >
            <a
              v-for="image in item.images"
              :href="`${MEDIA_BASE_URL}${image}`"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                :src="`${MEDIA_BASE_URL}${image}`"
                alt=""
                class="rounded h-auto"
                :class="
                  image.includes('prompt')
                    ? 'w-full flex-initial order-1'
                    : 'max-h-20 w-auto order-0'
                "
            /></a>
          </div>
          <!-- Images end -->

          <!-- Post content start -->
          <div v-if="item.text || (item.pollOptions && item.pollOptions.length > 0)">
            <!-- Text - start -->
            <div class="relative">
              <div
                id="vue-markdown"
                class="relative"
                :class="[
                  { 'max-h-40 overflow-hidden': !isExpanded && item.text.length > 300 },
                  { 'pb-12': isExpanded },
                ]"
              >
                <vue-markdown v-if="item.text" :source="item.text" />
              </div>

              <div
                v-if="item.text.length > 300"
                @click="isExpanded = !isExpanded"
                class="hover:cursor-pointer absolute -inset-3 top-auto text-center h-12 bg-white bg-opacity-90 flex items-center justify-center"
              >
                <span v-if="!isExpanded" class="font-semibold"> Expand </span>
                <span v-else class="font-semibold"> Collapse </span>
              </div>
            </div>
            <!-- Text - end -->

            <!-- Poll start -->
            <ul
              v-if="item.pollOptions && item.pollOptions.length > 0"
              class="flex flex-col space-y-2"
            >
              <li
                v-for="option in item.pollOptions"
                class="text-base bg-slate-200 inline-block w-auto px-3 py-2 rounded"
              >
                {{ option }}
              </li>
            </ul>
            <!-- Poll end -->
          </div>
        </div>
        <!-- Post content end -->

        <div v-if="item.type == 'question-activity'" class="p-3 pt-0">
          <div class="py-1 flex items-center space-x-2 text-slate-500 rounded text-xs">
            <i class="fas fa-exclamation-circle"></i>
            <span v-if="item && item.meta">
              Last submissions by {{ formatDate(item.meta.questionSubmissionDeadline) }}
            </span>
          </div>

          <div class="py-1 flex items-center space-x-2 text-slate-500 rounded text-xs">
            <i class="fas fa-exclamation-circle"></i>
            <span v-if="item && item.meta">
              Question distribution at {{ formatDate(item.meta.questionDistributionDate) }}
            </span>
          </div>

          <div class="py-1 flex items-center space-x-2 text-slate-500 rounded text-xs">
            <i class="fas fa-exclamation-circle"></i>
            <span v-if="item && item.meta">
              Awards at {{ formatDate(item.meta.questionAwardsDate) }}
            </span>
          </div>
        </div>
      </div>

      <div v-if="item.postAt" class="px-2 py-1 rounded-b-lg" :class="this.item.state == 'ERROR' ? 'bg-red-500 text-white' : 'bg-slate-100 text-slate-400'">
        <p class="p-1 text-xs">
          <span class="font-semibold">{{ timeUntilPosting }}</span>
          {{ datePosting }}
        </p>
      </div>

      <div v-else class="p-3 border-t border-t-slate-300 border-dashed">
        <!-- Post at start -->
        <DateTimePicker label="Post at:" v-model="postAt">
          <Button
            v-if="postAt"
            v-on:click="scheduleItem()"
            class="absolute inset-0 left-auto focus:outline-none border-2 border-transparent focus:border-green-600 focus:bg-green-500 focus:text-white"
            bgClass="bg-blue-500"
            textClass="text-white"
            bgHoverClass="hover:bg-green-500"
            textHoverClass="hover:text-white"
          >
            <i class="fas fa-arrow-right"></i>
          </Button>
          <Button
            v-if="!postAt"
            v-on:click="
              postAt = Date();
              scheduleItem();
            "
            class="absolute inset-0 left-auto focus:outline-none border-2 border-transparent focus:border-green-600 focus:bg-green-500 focus:text-white flex items-center"
            bgClass="bg-blue-500"
            textClass="text-white"
            bgHoverClass="hover:bg-green-500"
            textHoverClass="hover:text-white"
          >
            <span>Instant</span>
            <i class="fas fa-arrow-right"></i>
          </Button>
        </DateTimePicker>
        <!-- Post at end -->
        <p v-if="postAt" class="p-1 text-xs font-semibold text-slate-400">
          Will post on {{ postAt }}
        </p>
      </div>
    </div>
  </Transition>
</template>

<script>
import API from '@/api';
import dayjs from 'dayjs';
import relativeTime from 'dayjs/plugin/relativeTime';
import localizedFormat from 'dayjs/plugin/localizedFormat';

import VueMarkdown from 'vue-markdown-render';
import DateTimePicker from '@/components/DateTimePicker.vue';

export default {
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  components: {
    VueMarkdown,
    DateTimePicker,
  },
  data() {
    return {
      MEDIA_BASE_URL: import.meta.env.VITE_MEDIA_BASE_URL,
      postAt: undefined,
      removing: false,
      isExpanded: false,
    };
  },
  computed: {
    timeUntilPosting() {
      if (this.item.state == 'ERROR')
      {
        return "NOT POSTED - There was an error"
      }
      return `${this.item.state === 'POSTED' ? 'Posted' : 'Posting'} ${this.timeUntil(
        this.item.postAt,
      )}`;
    },
    datePosting() {
      return this.formatDate(this.item.postAt);
    },
  },
  methods: {
    timeUntil(date) {
      dayjs.extend(relativeTime);
      return dayjs(date * 1000).fromNow();
    },
    formatDate(date) {
      dayjs.extend(localizedFormat);
      return `on ${dayjs.unix(date).format('L')} at ${dayjs.unix(date).format('LT')}`;
    },
    removeContent() {
      this.removing = true;
      API.schedule.removeScheduleItem(
        this.item._id,
        (response) => {
          console.log(response);
          this.$emit('refresh');
        },
        (response) => {
          console.error('Error', response);
        },
      );
    },
    scheduleItem() {
      if (typeof this.postAt == 'undefined') {
        alert('Provide a post date');
        return;
      }
      API.schedule.scheduleItem(
        this.item._id,
        this.postAt,
        (response) => {
          console.log(response);
          this.$emit('refresh');
        },
        (response) => {
          console.error('Error', response);
        },
      );
    },
  },
};
</script>
