<template>
  <Transition name="fade">
    <div v-show="!ready" class="bg-slate-200 p-6 absolute inset-0 flex items-center justify-center">
      <i class="text-slate-400 fa-solid fa-spinner fa-spin-pulse fa-2x"></i>
    </div>
  </Transition>
  <Transition name="fade">
    <div v-show="ready" class="bg-slate-50 space-y-6 p-6">
      <header class="flex justify-between items-center mb-4">
        <!-- Title start -->
        <h1 class="text-2xl font-bold">Overview</h1>
        <!-- Title end -->
      </header>
      <section class="p-4 border bg-slate-200 rounded-xl">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
          <div class="p-6 border bg-white rounded-xl">
            <h1 class="text-3xl font-bold">
              {{ teamCount }}
            </h1>
            <h2 class="text-md font-semibold text-gray-500">Teams</h2>
          </div>

          <div class="p-6 border bg-white rounded-xl">
            <h1 class="text-3xl font-bold">
              {{ userCount }}
            </h1>
            <h2 class="text-md font-semibold text-gray-500">Users</h2>
          </div>

          <div class="p-6 border bg-white rounded-xl">
            <h1 class="text-3xl font-bold">
              {{ messageCount }}
            </h1>
            <h2 class="text-md font-semibold text-gray-500">Messages</h2>
          </div>

          <div class="p-6 border bg-white rounded-xl">
            <h1 class="text-3xl font-bold">
              {{ teamQuestionCount }}
            </h1>
            <h2 class="text-md font-semibold text-gray-500">Team Questions</h2>
          </div>
        </div>
      </section>
      <QuickActions />
    </div>
  </Transition>
</template>

<script>
import API from '@/api';
import QuickActions from '@/components/QuickActions.vue';

export default {
  components: {
    QuickActions,
  },
  data() {
    return {
      ready: false,
      teamCount: undefined,
      userCount: undefined,
      messageCount: undefined,
      teamQuestionCount: undefined,
    };
  },
  mounted() {
    API.users.syncUsers(
      (response) => {
        console.log('Success', response);
      },
      (response) => {
        console.error('Error', response);
      }
    )

    API.status.getStatus(
      (response) => {
        console.log(response);
        this.teamCount = response.teamCount;
        this.userCount = response.userCount;
        this.messageCount = response.messageCount;
        this.teamQuestionCount = response.teamQuestionCount;
        this.ready = true;
      },
      (response) => {
        console.error('Error', response);
      },
    );
  },
};
</script>

<style></style>
