<template>
  <section class="p-6 border bg-slate-200" :class="rounded ? 'rounded-xl' : ''">
    <header class="flex justify-between items-center mb-4">
      <!-- Title start -->
      <h1 class="text-2xl font-bold">Members</h1>
      <!-- Title end -->

      <div class="items-center rounded overflow-hidden hidden sm:flex">
        <Button
          @click="view = 'list'"
          :rounded="false"
          :bgClass="view == 'list' ? 'bg-blue-500' : 'bg-slate-400'"
        >
          <i class="fas fa-list fa-lg"></i>
        </Button>

        <Button
          @click="view = 'grid'"
          :rounded="false"
          :bgClass="view == 'grid' ? 'bg-blue-500' : 'bg-slate-400'"
        >
          <i class="fas fa-table-cells-large fa-lg"></i>
        </Button>
      </div>
    </header>

    <div
      :class="view == 'grid' ? 'grid-cols-1 md:grid-cols-2 lg:grid-cols-4' : 'grid-cols-1'"
      class="grid gap-4"
    >
      <UserTile v-for="member in members" :key="member.userId" :member="member" />
    </div>
  </section>
</template>

<script>
import API from '@/api';

import UserTile from '@/components/UserTile.vue';

export default {
  components: {
    UserTile,
  },
  data() {
    return {
      view: 'list', // or 'grid'
      members: undefined,
    };
  },
  mounted() {
    API.teams.getTeamMembers(
      this.$route.params.id,
      (response) => {
        console.log(response);
        this.members = response;
      },
      (response) => {
        console.error('Error', response);
      },
    );
  },
};
</script>
