<template>
  <div class="p-5 border bg-white rounded-xl space-y-4 divide-y-[1px] divide-slate-200 relative">
    <!-- Header start -->
    <div>
      <!-- Team name start -->
      <h1 class="text-lg md:text-2xl font-bold flex justify-start items-center space-x-2">
        <div
          class="rounded-full h-5 w-5 flex-shrink-0 text-white flex items-center justify-center text-xs"
          :class="team.archived ? 'bg-red-500' : 'bg-green-500'"
          :title="team.archived ? 'Team is archived' : 'Team is not archived'"
        >
          <i class="fas" :class="team.archived ? 'fa-exclamation' : 'fa-check'"></i>
        </div>
        <span class="whitespace-nowrap text-ellipsis overflow-hidden">{{ teamName }}</span>
      </h1>
      <!-- Team name - end -->

      <!-- Team members start -->
      <div class="absolute top-1 right-1 rounded p-1 hidden sm:inline-block">
        <div v-if="team.users.length > 0 && team.users.length < 6" class="grid gap-1 grid-flow-col justify-start">
          <div v-for="user in team.users" :key="user.id">
            <img
              :src="user.image"
              alt=""
              class="h-6 w-6 bg-slate-200 overflow-hidden rounded object-cover"
            />
          </div>
        </div>
        <div v-else>
          <h5 class="text-slate-500 px-2 font-semibold text-xs">
            {{ team.users.length }} team members
          </h5>
        </div>
      </div>
      <!-- Team members - end -->
    </div>
    <!-- Header - end -->

    <!-- Meta start -->
    <div class="pt-4 space-y-2">
      <ul class="-m-1">
        <li class="m-1 rounded bg-slate-200 px-2 py-1 inline-block text-xs space-x-2">
          <span class="text-slate-700 font-bold">ID: {{ team.channelId }}</span>
        </li>
        <li class="m-1 rounded bg-slate-200 px-2 py-1 inline-block text-xs space-x-2">
          <span class="text-slate-700 font-bold">{{ team.users.length }} members</span>
          <span>
            <i class="fas fa-people-group"></i>
          </span>
        </li>
        <li class="m-1 rounded bg-slate-200 px-2 py-1 inline-block text-xs space-x-2">
          <span class="text-slate-700 font-bold">Received onboarding</span>
          <span>
            <i class="fas" :class="team.received_onboarding ? 'fa-check' : 'fa-times-circle'"></i>
          </span>
        </li>
      </ul>

      <div v-if="team.altNames.length > 1">
        <ul class="-m-1">
          <li
            :title="`Team has been previously called ${name}`"
            class="m-1 text-slate-500 font-bold rounded bg-slate-100 px-2 py-1 inline-block text-xs"
            v-for="name in team.altNames"
            :key="name"
          >
            {{ name }}
          </li>
        </ul>
      </div>
    </div>
    <!-- Meta - end -->

    <!-- Footer start -->
    <div class="pt-4 flex justify-end">
      <a :href="`/team/${team._id}`">
        <Button>
          <i class="fas fa-arrow-right"></i>
        </Button>
      </a>
    </div>
    <!-- Footer - end -->
  </div>
</template>

<script>
import { sentenceCase } from 'change-case';

import Button from '@/components/Button.vue';

export default {
  components: {
    Button,
  },
  props: {
    team: {
      type: Object,
      required: true,
    },
  },
  computed: {
    teamName() {
      return sentenceCase(this.team.name);
    },
  }
};
</script>
