<template>
  <div class="p-5 border bg-white rounded-xl space-y-4 divide-y-[1px] divide-slate-200">

    <!-- Header - start -->
    <div>
      <div class="flex justify-start items-center space-x-4">
        <img
          :src="member.image"
          alt=""
          class="h-14 w-14 bg-slate-200 overflow-hidden rounded-xl border border-slate-100 object-cover"
        />
        <div>
          <h1 class="text-lg md:text-2xl font-bold" :title="member.name">
            {{ member.real_name || member.name }}
          </h1>
          <h2 class="text-xs md:text-base font-semibold text-gray-300">ID: {{ member.userId }}</h2>
        </div>
      </div>
    </div>
    <!-- Header - end -->

    <!-- Meta - start -->
    <div class="pt-4 space-y-2">
      <ul class="-m-1">
        <li
          :class="member.deleted ? 'bg-red-400' : 'bg-green-400'"
          class="m-1 rounded bg-slate-200 px-2 py-1 inline-block text-xs space-x-2"
        >
          <span class="text-slate-800 space-x-1 font-bold">
            <span>{{ member.deleted ? 'Deleted' : 'Active' }}</span>
          </span>
          <span>
            <i class="fas" :class="member.deleted ? 'fa-times-circle' : 'fa-check'"></i>
          </span>
        </li>
        <li class="m-1 rounded bg-slate-200 px-2 py-1 inline-block text-xs space-x-2">
          <span class="text-slate-700">
            <span class="font-bold">Role: </span>
            <span>{{ member.role || 'No role' }}</span>
          </span>
        </li>
      </ul>
    </div>
    <!-- Meta - end -->

    <!-- Survey - start -->
    <div v-if="member.onboardingSurvey" class="pt-4 space-y-2">
      <ul class="-m-1">
        <li
          v-if="member.onboardingSurvey.organisation"
          class="m-1 rounded bg-slate-300 px-2 py-1 inline-block text-xs space-x-2"
        >
          <span class="text-slate-800 space-x-1">
            <span class="font-bold">Organisation:</span>
            <span>{{ member.onboardingSurvey.organisation }}</span>
          </span>
        </li>
        <li
          v-if="member.onboardingSurvey.cbl_experience_level"
          class="m-1 rounded bg-slate-300 px-2 py-1 inline-block text-xs space-x-2"
        >
          <span class="text-slate-800 space-x-1">
            <span class="font-bold">Experience level:</span>
            <span>{{ member.onboardingSurvey.cbl_experience_level }}</span>
            </span>
        </li>
        <li
          v-if="member.onboardingSurvey.cbl_enjoyment_level"
          class="m-1 rounded bg-slate-300 px-2 py-1 inline-block text-xs space-x-2"
        >
          <span class="text-slate-800 space-x-1">
            <span class="font-bold">Enjoyment level:</span>
            <span>{{ member.onboardingSurvey.cbl_enjoyment_level }}</span>
          </span>
        </li>
        <li
          v-if="member.onboardingSurvey.cbl_value_perception"
          class="m-1 rounded bg-slate-300 px-2 py-1 inline-block text-xs space-x-2"
        >
          <span class="text-slate-800 space-x-1">
            <span class="font-bold">Value perception:</span>
            <span>{{ member.onboardingSurvey.cbl_value_perception }}</span>
          </span>
        </li>
        <li
          v-if="member.onboardingSurvey.cbl_engagement_style"
          class="m-1 rounded bg-slate-300 px-2 py-1 inline-block text-xs space-x-2"
        >
          <span class="text-slate-800 space-x-1">
            <span class="font-bold">Engagement style:</span>
            <span>{{ member.onboardingSurvey.cbl_engagement_style }}</span>
          </span>
        </li>
      </ul>
    </div>

    <!-- Survey - end -->

    <!-- Footer - start -->
    <div class="hidden pt-4">
      <a :href="`/member/${member._id}`">
        <button class="bg-blue-500 text-white rounded px-4 py-2 font-bold">View member</button>
      </a>
    </div>
    <!-- Footer - end -->
  </div>
</template>

<script>
export default {
  props: {
    member: {
      type: Object,
      required: true,
    },
  },
};
</script>
