<template>
  <Transition name="fade" appear>
    <div class="rounded-lg p-3" :class="bgClass">
      <p class="text-white text-sm space-x-2">
        <i class="fas fa-exclamation-circle"></i>
        <span>{{ text }}</span>
      </p>
    </div>
  </Transition>
</template>

<script>
export default {
  props: {
    text: {
      type: Boolean,
      default: true,
    },
    type: {
      type: String,
      default: 'info',
    },
  },
  computed: {
    bgClass() {
      switch (this.type) {
        case 'success':
          return 'bg-green-500';
        case 'warning':
          return 'bg-orange-500';
        case 'error':
          return 'bg-red-500';

        default:
          return 'bg-blue-500';
      }
    },
  },
};
</script>
