<template lang="pug">
.row.justify-center.q-my-sm.q-pb-lg
  .col-12.col-sm-10.col-md-8.col-lg-5.bg-white.rounded-borders.q-pa-sm
    .row
      .col-2.col-sm-1
        q-avatar(rounded color="transparent" text-color="white" size="36px" v-if="app").q-ma-xs
          img(src="/icon-512.png")
        q-avatar(rounded color="secondary" text-color="white" size="36px" v-if="!app").q-ma-xs {{user[0]}}
      .col-auto.text-left.q-pa-xs
        .text-bold {{user}}
      .col-auto.q-pa-xs
        q-badge(dense color="grey-5" v-if="app") app
      .col-auto.q-pa-xs
        .text-caption(style="padding-top:2px")
          span {{time}}
    .row
      .col.offset-2.offset-md-1
        slot
      
  
</template>

<script>

export default {
  name: 'Chat',
  props:{
    app:{
      default:true
    },
    user:{
      default:"SlackClass"
    }
  },
  components: {
    
  },
  computed:{
    time(){
      const maxDate = Date.now();
      const timestamp = Math.floor(Math.random() * maxDate);
      const dd = new Date(timestamp);
      return `${dd.getHours()}:${dd.getMinutes()} PM`
    }
  },
  data () {
    return {
      
    }
  }
}
</script>

<style scoped>

</style>